main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer{
    width: 100%;
    margin-top: auto;
}
.title{
    margin-bottom: 2%;
    border: 2px solid #3384db;
    padding: 2%;
    border-radius: 20px;
}